[tool.poetry]
name = "nebula"
version = "0.0.1"
description = "FPGA Development Board Testing Harness"
authors = ["Travis F. Collins <travis.collins@analog.com>"]

[tool.poetry.dependencies]
python = "^3.6"
pyfiglet = "^0.8.post1"
fabric = "^2.5.0"
pyyaml = "^5.3.1"
pyserial = "^3.4"
pytest = "^5.4.1"
pyvesync_v2 = "^1.1.0"
pysnmp = "^4.4.12"
xmodem = "^0.4.6"

[tool.poetry.dev-dependencies]
sphinx = "^3.0.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
