pyfiglet
fabric==2.7.1
pyyaml>=5.1
pyserial
pytest
pyvesync_v2
pysnmp==4.4.12
pyasn1==0.4.8
xmodem
click>=7.0
netifaces
tqdm
beautifulsoup4
requests
pygithub
pynetbox
artifactory
usbsdmux
pyudev
decorator
numpy==1.24.3
